@model IEnumerable<NewTestSix.Models.TableForm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ClientSampleID)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.AcidStables)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Sulfurs)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Trp)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.FAAs)
            </td>
            <td>
                @Html.DisplayNameFor(model => model._sampleMatrix)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.AdditionalComments)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientSampleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcidStables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sulfurs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAAs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._sampleMatrix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalComments)
            </td>
        </tr>
        }
    </tbody>
</table>