@model IEnumerable<NewTestSix.Models.TableForm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientSampleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcidStables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sulfurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalComments)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientSampleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcidStables)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sulfurs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalComments)
                </td>
            </tr>
        }
    </tbody>
</table>