@model NewTestSix.Models.FormData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FormData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextBoxStringData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextBoxStringData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextBoxIntData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextBoxIntData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckboxData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckboxData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
